<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="row">
        <div class="col-6" style="line-height: 40px;">
          Open tasks
        </div>
        <div class="col-6">
          <button ion-fab mini (click)="openModal()"><ion-icon name="add"></ion-icon></button>
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Here you can see all open tasks. Swipe a task to the left to mark it as done
    or swipe to the right to delete it completely.
  </p>


  <ion-list>
    <div *ngFor="let task of stp.tasks; let i = index" class="container">
      <ion-item-sliding *ngIf="task.done === false" class="item-wraper" #item>
        <ion-item class="item item-block">
          {{task.task}}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="delete(i)">Delete</button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button (click)="done(i)">Done</button>
        </ion-item-options>
      </ion-item-sliding>
    </div>

  </ion-list>

</ion-content>
