<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Tasks" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Completed" tabIcon="checkmark"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Help" tabIcon="help"></ion-tab>
</ion-tabs>
