<ion-header>

  <ion-navbar>
    <ion-title>Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="row">
    <div class="col-lg-12">
      <p>This app is used to create tasks. Simply follow the instructions on the tabs to add new one, remove or mark them as done. You can also delete all tasks in the settings tab!</p>
      <br>
      <p>The open tasks are inside the tasks tab page. Finished tasks can be found in the second tab "Done"</p>
      </div>
      </div>
</ion-content>
