<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Delete all tasks</ion-list-header>
    <ion-item>
      <button ion-button block (click)="deleteTasks()">Delete all tasks</button>
    </ion-item>
  </ion-list>
</ion-content>
