<ion-header>

  <ion-navbar>
    <ion-title>Add new task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="row">
    <div class="col-lg-12">
      <label>Task title</label>
      <input [(ngModel)]="task" name="taskName" required>
    </div>
    <button ion-button block (click)="submit()">Submit</button>
    <button ion-button block (click)="cancel()">Cancel</button>
  </div>
</ion-content>
