<ion-header>
  <ion-navbar>
    <ion-title>Completed tasks</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Here you can see all finished tasks. Swipe a task to the left to delete it completely.
  </p>

  <ion-list>
    <div *ngFor="let task of stp.tasks; let i = index;" class="container">
      <ion-item-sliding *ngIf="task.done === true" class="item-wraper" #item>
        <ion-item class="item item-block">
          {{task.task}}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="delete(i)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
      </div>

  </ion-list>

</ion-content>
